#contentContainer {
    /* display: flex;
    flex-direction: column;
    position: relative;
    
    margin: 70px auto 30px auto;
    width: clamp(0px, 90vw, 780px);
    padding: 10px 10px 10px 10px; */

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 70px auto 30px auto;
    width: clamp(0px, 90vw, 780px);
    padding: 10px;

    /* --lightBorder: var(--accentColorPrimary);
    --ambientBorder: var(--accentColorSecondary);  */
}

@keyframes borderFlash {
    0% {
        border-top-color: var(--accentColorPrimary);
        border-right-color: var(--accentColorPrimary);
        border-bottom-color: var(--accentColorSecondary);
        border-left-color: var(--accentColorSecondary);
    }

    100% {
        border-top-color: var(--coreColorQuaternary);
        border-right-color: var(--coreColorQuaternary);
        border-bottom-color: var(--coreColorTertiary);
        border-left-color: var(--coreColorTertiary);
    }
}

@keyframes backgroundFlash {
    0% {
        background-color: var(--accentColorPrimary);
    }
    100% {
        background-color: var(--coreColorTertiary);
    }
}

#contentContainer.flash {
    animation: borderFlash 0.7s ease-out;
}

#contentTitle {
    background-color: var(--ambientSecondary);
    font-size: 24px;

    position: absolute;
    top: -25px;
    width: fit-content;
    padding: 0 5px 2px 5px;
    transform: translate(-12px, -12.5px);

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#contentTitle.flash {
    animation: 
        borderFlash 0.7s ease-out,
        backgroundFlash 0.7s ease-out;

}

#contentPrefix {
    color: var(--textColorSecondary);
}

.content {
    display: none;
}

#profile.content.active {
    display: block;
}

#contact.content.active{
    display: block;
}

#projects.content.active {
    display: flex;
    gap: 10px;


}



@media (max-width: 800px) {
    #projects.active {
        flex-direction: column;
        
    }
}


.contactForm {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
}








