#contentContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: 15vw;
    margin-right: 15vw; */
    margin: 70px auto 30px auto;
    width: clamp(0px, 90vw, 780px);
    padding: 10px 10px 10px 10px;
}

#contentTitle {
    background-color: var(--ambientSecondary);

    position: absolute;
    top: -25px;
    width: fit-content;
    padding: 0 5px 2px 5px;
    transform: translate(-12px, -7.5px);

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#contentPrefix {
    color: var(--textColorSecondary);
}

.content {
    display: none;
}

#profileContent.active, #contactContent.active{
    display: block;
}

#projectContent.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
}

#profileDescription {
    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
}

#profileVisuals {
    display: flex;
    width: fit-content;
    float: right;
    gap: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#profilePic {
    --size: 150px;
    border-radius: 4px;
    width: var(--size); height: var(--size);
}


#skills {
    display: flex;
    flex-direction: column;
    gap: 2px;

    color: var(--textColorSecondary);
}

#skillsTitle {
    color: whitesmoke;
    font-family: system-ui, sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.profileSkill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

    border-top: solid 2px var(--ambientSecondary);
    font-family: system-ui, sans-serif;
    font-weight: 600;
    font-size: 14px;
    
}

.skillBar {
    display: flex;
    width: 80px; height: 10px;
    margin-left: auto;

}

.skillBar .segment {
    /* background-color: rgb(116, 116, 116); */
    background-color: var(--ambientPrimary);
    width: 10%;
    height: 100%;
    border: 1px solid var(--backgroundSecondary);
}

.skillBar .segment.filled {
    background-color: var(--lightPrimary);
}


.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10vw;
    /* margin: 0; */
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
}

#projectContent {
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.projectCard {
    /* flex: 0 1 250px; */
    /* min-width: 100px;
    max-width: 250px; */

    background-color: var(--ambientSecondary);
    

    /* background-color: red; */
}

.projectTitle {
    display: flex;
    gap: 5px;
}

.projectIcon {
    --projectIconSize: 30px;

    width: var(--projectIconSize);
    height: var(--projectIconSize);
}
