#contentContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    
    margin: 70px auto 30px auto;
    width: clamp(0px, 90vw, 780px);
    padding: 10px 10px 10px 10px;
}

#contentTitle {
    background-color: var(--ambientSecondary);
    font-size: 24px;

    position: absolute;
    top: -25px;
    width: fit-content;
    padding: 0 5px 2px 5px;
    transform: translate(-12px, -12.5px);

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#contentPrefix {
    color: var(--textColorSecondary);
}

.content {
    display: none;
}

#contactContent.active{
    display: block;
}

#projectsContent.active {
    display: flex;
    gap: 10px;
}


.contactForm {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
}

#projectsContent {
    gap: 10px;
    justify-content: left;
    /* align-items: center; */
    
}





.projectLinkIcon {
    position: relative;
    --iconSize: 30px;
    width: var(--iconSize);
    height: var(--iconSize);

    background-color: var(--textColorSecondary);
    transition: background-color 0.2s ease;

    -webkit-mask: url("../assets/icons/link.png") center / contain no-repeat;
    mask: url("../assets/icons/link.png") center / contain no-repeat;
}

.projectLinkIcon:hover {
    background-color: var(--lightPrimary);
}


.showcaseImage {
    display: none;
    /* width: 100%; */
}

.showcaseImage.active {
    display: block;
}

.projectDescription {
    padding: 5px 20px 5px 20px;
    
}


.imageViewport img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    cursor: pointer;
}

.imageSelector {
    /* background-color: yellow; */
    display: flex;
    gap: 5px;
    padding: 5px;
    
}

.imageSelectorNode {
    /* size: 25px; */
    background-color: var(--lightSecondary);
    width: 20px;
    height: 10px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.imageSelectorNode:hover {
    background-color: var(--ambientPrimary);
}

.imageSelectorNode.active {
    background-color: var(--lightPrimary);
}

.imageInspector {
    display: none;
}

.imageInspector.active {
    position: fixed;
    top: 0; left: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */

    background: rgba(0, 0, 0, 0.7); 
    /* background-color: yellow; */
    
    width: 100%; height: 100%;

    z-index: 99;
}

.imageInspector img {
    position: fixed;
    

    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 90vw;
    max-height: 90vh;
    /* width: clamp(0px, 90%, 900px); 
    height: clamp(0px, 90%, 900px);  */

    width: auto;
    height: auto;

    /* width: 100%; height: 100%; */
    object-fit: contain;
}

.closeBox {
    position: fixed;
    width: 100%; height: 100vh;
    cursor: pointer;
    /* background-color: white; */
    z-index: 100;

    user-select: none;
    -webkit-user-select: none;

}
