#projectSelectMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: -10px -10px -10px -10px;
    
    list-style: none;
    padding: 3px;
    padding-bottom: 7px;
    gap: 7px;
    /* border-radius: 2px; */
    background-color: var(--backgroundPrimary);
    

}

@media (max-width: 800px) {
    #projectSelectMenu {
        flex-direction: row;
        width: 100%;
        margin: -10px 0px -10px -10px;
        padding-right: 17px;
        overflow-x: auto;
    }
}


.projectSelectLink {
    display: flex;
    /* width: 97%;    */
    height: 100%;
    /* padding: 2px 8px 2px 8px; */
    padding-right: 5px;
    padding-left: 5px;
    gap: 5px;
    align-items: center;

    font-size: 20px;
    color: var(--textColorPrimary);
    background-color: var(--ambientSecondary);
    /* --lightBorder: red; */
    --ambientBorder: rgb(40, 40, 40);
    text-decoration: none;
    
    transition: 
        background-color 0.2s ease,
        border-right-color 0.2s ease,
        border-top-color 0.2s ease,
        border-left-color  0.2s ease,
        border-bottom-color  0.2s ease;

    --projectIconSize: 30px;
}

.projectSelectLink:hover {
    background-color: var(--accentColorSecondary);
    --lightBorder: var(--hoverBorderLight);
    --ambientBorder: var(--hoverBorderAmbient);
}

.projectSelectLink.active {
    background-color: var(--accentColorPrimary);
    --lightBorder: var(--selectedBorderLight);
    --ambientBorder: var(--selectedBorderAmbient);
}

.projectIcon {
    width: var(--projectIconSize);
    height: var(--projectIconSize);
}

.projectPageContent {
    display: none;
}


.projectPageContent.active {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding: 5px 10px 5px 10px;
    
    --projectIconSize: 45px;
}


.projectHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    
    font-size: 30px;
    border-bottom: 2px solid var(--ambientSecondary);
}

.projectAbout {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
}

.imageShowcase {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

@media (max-width: 800px) {
    .imageShowcase {
        float: none;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 0;
    }
}



.imageViewport {
    width: 350px;
    height: 200px;
    overflow: hidden;
    background-color: var(--backgroundPrimary);
}

@media (max-width: 450px) {
    .imageViewport {
        width: 210px;
        height: 120px;
    }
}

.imageSelector {
    display: flex;
    justify-content: center;
    height: 5px;
}