#projectSelectMenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: -10px -10px -10px -10px;
    
    list-style: none;
    padding: 3px;
    padding-bottom: 7px;
    gap: 7px;
    /* border-radius: 2px; */
    background-color: var(--backgroundPrimary);
    

}

@media (max-width: 800px) {
    #projectSelectMenu {
        flex-direction: row;
        width: 100%;
        margin: -10px 0px -10px -10px;
        padding-right: 17px;
        overflow-x: auto;
    }
}


.projectSelectLink {
    display: flex;
    /* width: 97%;    */
    height: 100%;
    /* padding: 2px 8px 2px 8px; */
    padding-right: 5px;
    padding-left: 5px;
    gap: 5px;
    align-items: center;

    font-size: 20px;
    color: var(--textColorPrimary);
    background-color: var(--ambientSecondary);
    /* --lightBorder: red; */
    --ambientBorder: rgb(40, 40, 40);
    text-decoration: none;
    
    transition: 
        background-color 0.2s ease,
        border-right-color 0.2s ease,
        border-top-color 0.2s ease,
        border-left-color  0.2s ease,
        border-bottom-color  0.2s ease;

    --projectIconSize: 30px;
}

.projectSelectLink:hover {
    background-color: var(--accentColorSecondary);
    --lightBorder: var(--hoverBorderLight);
    --ambientBorder: var(--hoverBorderAmbient);
}

.projectSelectLink.active {
    background-color: var(--accentColorPrimary);
    --lightBorder: var(--selectedBorderLight);
    --ambientBorder: var(--selectedBorderAmbient);
}

.projectIcon {
    width: var(--projectIconSize);
    height: var(--projectIconSize);
}

.projectPageContent {
    display: none;
}


.projectPageContent.active {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding: 5px 10px 5px 10px;
    
    --projectIconSize: 45px;
}


.projectHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    
    font-size: 30px;
    border-bottom: 2px solid var(--ambientSecondary);
}

.projectAbout {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
}

.projectLink {
    position: absolute;
    right: 0;
    margin-right: 30px;
    background-color: var(--coreColorPrimary);
    border-radius: 50%;
    /* border: 1.5px solid blueviolet; */
    /* background-color: white; */
    /* padding: 1px; */
}



.projectLinkIcon {
    /* background-color: var(--backgroundColor); */
    --iconSize: 35px;
    width: var(--iconSize);
    height: var(--iconSize);
    background-color: var(--coreColorQuaternary);
    transform: translateY(-.5px);
    /* left: 100%; */
    /* margin-left: auto; */
    /* background-color: ; */
    

    transition: background-color 0.2s ease;

    /* -webkit-mask: url("../assets/icons/link.png") center / contain no-repeat; */
    mask: url("../assets/icons/github.png") center / contain no-repeat;
}

.projectLinkIcon:hover {
    background-color: var(--lightPrimary);
}


/* IMAGE SHOWCASE */

.imageShowcase {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

@media (max-width: 800px) {
    .imageShowcase {
        float: none;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 0;
    }
}


.imageViewport {
    width: 350px;
    height: 200px;
    overflow: hidden;
    background-color: var(--backgroundPrimary);
}

@media (max-width: 450px) {
    .imageViewport {
        width: 210px;
        height: 120px;
    }
}

.showcaseImage {
    display: none;
    /* width: 100%; */
}

.showcaseImage.active {
    display: block;
}

.imageSelector {
    display: flex;
    justify-content: center;
    height: 5px;
    padding: 5px;
     gap: 5px;
}

.imageViewport img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    cursor: zoom-in;
}



.imageSelectorNode {
    /* size: 25px; */
    background-color: var(--coreColorQuaternary);
    width: 20px;
    height: 10px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.imageSelectorNode:hover {
    background-color: var(--accentColorSecondary);
}

.imageSelectorNode.active {
    background-color: var(--accentColorPrimary);
}

.imageInspector {
    display: none;
}

.imageInspector.active {
    position: fixed;
    top: 0; left: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */

    background: rgba(0, 0, 0, 0.7); 
    /* background-color: yellow; */
    
    width: 100%; height: 100%;

    z-index: 99;
}

.imageInspector img {
    position: fixed;
    

    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    
    max-width: 90vw;
    max-height: 90vh;
    /* width: clamp(0px, 90%, 900px); 
    height: clamp(0px, 90%, 900px);  */

    width: auto;
    height: auto;

    /* width: 100%; height: 100%; */
    object-fit: contain;
}

.closeBox {
    position: fixed;
    width: 100%; height: 100vh;
    cursor: zoom-out;
    /* background-color: white; */
    z-index: 100;

    user-select: none;
    -webkit-user-select: none;
}
