:root {
    --backgroundPrimary: rgb(20, 20, 20);
    --backgroundSecondary: rgb(30, 30, 30);

    --textColorPrimary: whitesmoke;
    --textColorSecondary: rgb(184, 184, 184);

    --lightPrimary: red;
    --ambientPrimary: rgb(114, 0, 0);

    --lightSecondary: rgb(116, 116, 116);
    --ambientSecondary: rgb(56, 56, 56);
}

html {
    color: var(--textColorPrimary);
    background-color: var(--backgroundPrimary);
    font-family: "IBM Plex Sans", sans-serif;
}

p, ul, body {
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;
}

h1 {
    
    margin-bottom: 0;
    line-height: 1;
    font-size: 50px;
    font-family: system-ui, sans-serif;
    font-weight: 700;
   
    text-rendering: geometricPrecision;
    letter-spacing: 2px;

    text-shadow:
        -2px 0px 0 red,
        -3px 0px 0 rgb(97, 0, 0);
}

h2 {
    margin: 0;
    
    font-size: 20px;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    transform: scaleX(0.9);
    transform-origin: left center;
}

h3 {
    margin: 0;

    font-size: 20px;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    /* transform: scaleX(0.9); */
    transform-origin: left center;
}

input, textarea {
    resize: none;
    background-color: rgb(224, 224, 224);
    font-family: monospace;
}

input:focus, textarea:focus {
    outline: 2px solid var(--lightPrimary);
    
}

.button {
    --baseColor: rgb(173, 173, 173);
    --borderLight: rgb(207, 207, 207);
    --borderAmbient: rgb(99, 99, 99);

    text-decoration: none;
    color: rgb(25, 25, 25);
    font-family: system-ui, sans-serif;
    font-weight: 600;
    font-size: 12px;

    background-color: rgb(197, 197, 197);
    border: 4px solid;
    border-right-color: var(--borderLight);
    border-top-color: var(--borderLight);
    border-left-color: var(--borderAmbient);
    border-bottom-color: var(--borderAmbient);

    transition: 
        background-color 0.2s ease,
        border-color 0.2s ease;
}

.button:hover {
    background-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 80, 80);
    border-right-color: rgb(255, 80, 80);
    border-left-color: rgb(201, 32, 32);
    border-bottom-color: rgb(201, 32, 32);
}



.textbox {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    white-space: nowrap;
    font-family: monospace;

    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: 2px solid red;
    opacity: 0;

    display: flex;
    position: absolute;
    right: 100%;
    transform-origin: right center;
    transform: translate(15px, -160px) ;
}

/* .textbox::after {
    content: "";
    position: absolute;

    left: 100%;
    bottom: -6px;

    width: 20px;
    height: 20px;

    background: white;
    border: 2px solid red;
    z-index: -2;

    transform: translateX(-10px) rotate(15deg);
} */

.container {

    background-color: var(--backgroundSecondary);
    border: solid 2px;
    border-radius: 2px;
    border-right-color: var(--lightSecondary);
    border-top-color: var(--lightSecondary);
    border-left-color: var(--ambientSecondary);
    border-bottom-color: var(--ambientSecondary);
}

footer {
    font-family: system-ui, sans-serif;
    font-weight: 500;
    /* background-color: var(--backgroundPrimary); */
    background: linear-gradient(
        to top,
        var(--backgroundSecondary) 0%,
        var(--backgroundSecondary) 60%,
        var(--backgroundPrimary) 100%
    );


    display: flex;
    justify-content: center;
    margin-top: 2cm;
    padding-top: 10px;
    padding-bottom: 10px;
    
}