html{
    background-color: rgb(16, 25, 41);
}  
body{
    max-width: 800px;
    margin: 0 auto;
}


header{
    background-color: rgb(16, 25, 41);
    max-width: 800px;
    width: 100%;
    position: fixed;
    top: 0px;
}
.name{
    color:rgb(235, 235, 254);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-size: 36px;
    font-style: bold;

    padding: 20px 10px 0px 20px;
    margin:0;
}
.contactinfo{
    color:white;
    font-size:20px;
    font-style: bold;
    text-align: center;
    
    background-color: rgb(135, 164, 217);

    display: flex;
    justify-content: center;
    gap: clamp(0rem, 2vw, 2rem);
}


.page{
    background-color: white;
    max-width: 800px;
    margin-top: 90px;
    padding: 1px 20px 20px 20px;
}
summary{
    list-style: none;
}
.projectlist{
    width: 8rem;
}
.projectitem{
    background-color: rgb(214, 15, 15);

}
.projectdetails{
    background-color: blue;

    max-width: 612px;
    width: 100%;
    position: absolute;
    top: 318px; left: 388px;
    padding-left: 20px;
    

}







